#lists {
  padding: 50px;
}

#add-list {
  display: block;
  background: linear-gradient(var(--primary-light-color),
                              var(--primary-dark-color));
  color: var(--text-color);
  width: 50px;
  height: 50px;
  margin: auto;
  border: none;
  border-radius: 50%;
}

#add-list:hover {
  opacity: 0.8;
}

#add-list:focus {
  outline: none;
}
