footer {
  background: linear-gradient(var(--primary-light-color),
                              var(--primary-dark-color));
  width: 100%;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  box-shadow: 0 0 2px var(--primary-light-color);
  z-index: 1;
}
