.item {
  position: relative;
  user-select: none;
}

.item-name {
  display: block;
  background: linear-gradient(var(--primary-light-color),
                              var(--primary-dark-color));
  color: var(--text-color);
  font-size: 1em;
  padding: 12px 80px 12px 50px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-dark-color);
}

input[type="checkbox"], .remove-item {
  position: absolute;
}

input[type="checkbox"] {
  top: 12px;
  left: 12px;
  filter: grayscale(1);
  transform: scale(1.5);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-light-color);  
}

.remove-item {
  top: 7px;
  right: 30px;
  background-color: var(--primary-light-color);
  color: var(--text-color);
  font-size: 1em;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-dark-color);
  border-radius: 50%;
  padding: 5px;
  outline: none;
}

.remove-item:hover {
  background-color: var(--primary-dark-color);
  cursor: pointer;
  opacity: 0.6;
}