#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

#sidebar {
  position: fixed;
  top: 0px;
}

#main {
  left: 25%;
}

#sidebar, #main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main main {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #sidebar {
    position: relative;
  }

  #main {
    padding-bottom: 50px;
    left: 0
  }

  #main main {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  #sidebar {
    width: 20% !important;
  }
}