main #list-img {
  fill: var(--text-color);
  background: linear-gradient(var(--primary-light-color),
                              var(--primary-dark-color));
  width: 180px;
  margin: 100px auto 0 auto;
  padding: 25px;
}

main h1 {
  color: var(--primary-dark-color);
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  width: 300px; 
  margin: auto;
  padding: 20px;
}

main button {
  display: block;
  background: linear-gradient(var(--primary-light-color),
                              var(--primary-dark-color));
  color: var(--text-color);
  font-size: 1.25em;
  text-transform: uppercase;
  margin: auto;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 8px;
  outline: 0;
}

main button:hover {
  cursor: pointer;
  font-weight: bold;
  opacity: 0.9;  
}

@media only screen and (max-width: 768px) {
  main #list-img {
    margin: 50px auto 0 auto;
  }
}
