header {
  background: linear-gradient(var(--primary-light-color),
                              var(--primary-dark-color));
  color: var(--text-color);
  width: 100%;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  box-shadow: 0 0 5px var(--primary-light-color);
}

