aside {
  position: relative;
  background: linear-gradient(var(--secondary-light-color),
                              var(--secondary-dark-color));
  color: var(--text-color);
  width: 240px;
  height: 100%;
  margin-top: -76px;
  box-shadow: 0 0 10px var(--secondary-light-color);
  z-index: -1;
}
