aside, nav, ul {
  position: relative;
  width: 100%;
}

aside {
  background: linear-gradient(to left, var(--secondary-light-color),
                              var(--secondary-dark-color));
  color: var(--text-color);
  height: 622px;
  box-shadow: 0 0 10px var(--secondary-light-color);
}
