.list {
  display: block;
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 30px auto 0 auto;
  cursor: pointer;
}

.list .description {
  background: linear-gradient(var(--primary-light-color),
                              var(--primary-dark-color));
  height: 65px;
  border: 2px solid var(--primary-dark-color);
}

.list .description:hover {
  box-shadow: 0 0 10px 1px var(--primary-dark-color);
}

.list .description:focus {
  outline: none;
}

.list-title-container {
  position: relative;
}

.list-title, .list-title-edit {
  background: inherit;
}

.list-title, .list-title-edit, .list-length, 
.list-remove, .list-days-to-expiration {
  position: absolute;
  top: 10px;
  color: var(--text-color);
  font-size: 1.25em;
  border: none;
}

::placeholder {
  opacity: 1;
}

.list-title {
  top: 15px;
  left: 25px;
  max-width: 200px;
  cursor: pointer;
}

.list-title:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-dark-color);
}

.list-title-edit {
  position: relative;
  font-size: 0.875em;
  width: 30px;
  height: 30px;
  padding: 18px;
  margin-left: 240px;
  border-radius: 50%;
}

.list-title-edit span {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.25em;
}

.list-title-edit:hover {
  background-color: var(--primary-dark-color);
  opacity: 0.6;
}

.list-title-edit:focus {
  outline: none;
}

.list-days-to-expiration {
  top: 16px;
  right: 120px;
}

.list-length {
  right: 70px;
  top: 16px;
}

.list-remove {
  background: none;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 20px;
  border: none;
  border-radius: 50%;
}

.list-remove span {
  position: absolute;
  top: 10px;
  left: 12px;
}

.list-remove:hover {
  background-color: var(--primary-dark-color);
  opacity: 0.6;
}

.list-remove:focus {
  outline: none;
}
